.container {
    outline: none;
    cursor: pointer;

    background: var(--surface);
    color: var(--text);
    font-size: var(--text-sm);

    padding: var(--space-2);
    border: 1px solid var(--surface-2);
    border-radius: var(--radius-lg);

    transition: border-color 0.2s ease;
    &:hover {
        border-color: var(--primary-hover);
    }
    &:focus {
        border-color: var(--primary);
    }
    
    option {
        background: var(--surface);
        color: var(--text);
    }
}
