.ticket {
    display: flex;
    flex-direction: column;

    background-color: var(--surface-2);
    padding: var(--space-2);
    border-radius: var(--radius-md);

    transition: box-shadow 0.2s ease, transform 0.2s ease;
    &:hover {
        box-shadow: 0 2.5px 5px var(--surface-2);
        transform: translateY(-2px);
    }

    margin-bottom: var(--space-2);
    &:last-of-type { margin-bottom: 0; }
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--space-1);
    
    .title {
        font-size: var(--text-xl);
    }

    .right-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-1);
    }
}

.ticket-description {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: var(--text-md);

    &.editing {
        outline: none;
        padding: var(--space-2);
        border-radius: var(--radius-sm);
        background-color: var(--input-bg);
        margin-bottom: var(--space-1);
        border: 1px solid var(--input-border);

        transition: border-color 0.2s ease;
        &:hover {
            border-color: var(--primary-hover);
        }
        &:focus {
            border-color: var(--primary);
        }
    }
}

.ticket-date {
    align-self: flex-end;
    color: var(--text-muted);
    font-size: var(--text-xs);
}

.ticket-state-select {
    font-size: var(--text-xs) !important;
    padding: var(--space-1) !important;

}

