.spacer {
    background-color: var(--spacer-bg);
}

.horizontal {
    width: 100%;
    height: var(--spacer-weight);
    margin: var(--spacer-margin) 0;
}

.vertical {
    width: var(--spacer-weight);
    margin: 0 var(--spacer-margin);

    align-self: stretch;
}